#bevel {
    -fx-background-color:
            linear-gradient(#16A085, #16A085),
            linear-gradient(#0E6655 0%, #0E6655 20%, #16A085 100%),
            linear-gradient(#0E6655 0%, #16A085 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold; /* Bold text */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

#bevel:hover {
    -fx-background-color:
            rgba(255,255,255,0.08),
            linear-gradient(#0E6655, #16A085),
            linear-gradient(#16A085 0%, #0E6655 50%, #0E6655 51%, #0E6655 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #F5F5F5;
    -fx-font-size: 12px;
    -fx-font-weight: bold; /* Bold text */
}
